<div class="top">
  <div class="low">
    <font color="red"><%= notice %></font>
    <div class="start">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <%= link_to "Start", root_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>